.container {
  width: 100%;
  padding-right: calc(var(--spacing-unit) * 3.75);
  padding-left: calc(var(--spacing-unit) * 3.75);
  margin-right: auto;
  margin-left: auto
}
.container--large {
  max-width: var(--container-large-max-width);
}
.container--medium {
  max-width: var(--container-medium-max-width);
}
.container--small {
  max-width: var(--container-small-max-width);
}
.container--tiny {
  max-width: var(--container-tiny-max-width);
}



.content {
  padding-bottom: calc(var(--spacing-unit) * 16);
  padding-top: calc(var(--spacing-unit) * 16);
}

.section__padding {
  padding: calc(var(--spacing-unit) * 10) 0;
}

.spacer {
  height: calc(var(--spacing-unit) * 5);
}