.header {
  text-align: center;
  padding-top: calc(var(--spacing-unit) * 12);
  padding-bottom: calc(var(--spacing-unit) * 16);
}
.header__heading {
  font: var(--text-5xl);
  margin-bottom: calc(var(--spacing-unit) * 3);
}
.header__subheading {
  font: var(--text-xl);
  color: var(--grey-800);
}